# Postgres database local connection
POSTGRES_USER=
# Postgres host (default: localhost)
POSTGRES_HOST=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_PORT=

# Application Port - express server listens on this port (default 9000).
PORT=9

# JWT access secret
SECRET=secret_jwt_access_secret

# JWT refresh secret
REFRESH_SECRET=refreshsecret_jwt_refresh_secret

# mail server settings
SMTP_FROM=tranhuynhlam911@gmail.com
SMTP_USER=tranhuynhlam911

# Stripe secret key - https://stripe.com/docs/keys
STRIPE_SECRET_KEY=

# Google OAuth2.0 settings for sign in with Google - https://console.developers.google.com/
OAUTH_CLIENT_ID=
OAUTH_CLIENT_SECRET=
OAUTH_REFRESH_TOKEN=

# Google OAuth2.0 settings for sending emails - https://console.developers.google.com/
CLIENT_ID=
CLIENT_SECRET=
REFRESH_TOKEN=